/* sidebar style --------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/mirrored-squares.png");
}

h3 {
  color: orange;
  padding: 10px;
  margin: 20px;
  border-bottom: #ffa500 solid 2px;
  font-weight: 200;
  font-size: x-large;
}

.container {
  display: flex;
}
main {
  width: 100%;
  padding: 20px;
}
.sidebar {
  background: #1d180b;
  color: #fff;
  width: 250px;
  transition: all 0.5s;
  z-index: 1;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo {
  height: 30px;
  width: 150px;
  
}
.bars {
  display: flex;
  font-size: 25px;
  margin-left: 30px;
}
.link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  text-decoration: none;
}
.link:hover {
  border-bottom: 5px solid #ffa500;
  color: #ffff;
  transition: all 0.5s;
}
.active {
  border-bottom: 5px solid #ffa500;
  color: #ffa500;
}
.icon,
.link_text {
  font-size: 18px;
}

.icon {
  color: #ffa500;
}

.token_price {
  margin: 30px;
}

/* Dashboard style --------------------------------------------------------------- start*/

.price-box {
  width: 200px;
  height: 150px;
  border: 2px orange solid;
  margin: 8px;
  border-radius: 10px;
  padding: 20px;
}

.reward-box {
  border: 2px orange solid;
  width: 400px;
  height: 200px;
  border-radius: 20px;
}

.price {
  margin-top: 30px;
}

.center {
  justify-content: center;
}

.chart-container {
  width: 150px;
  height: 120px;
  padding: 5px;
  margin-left: 20px;
}

.tables-children {
  display: flex;
  margin: 10px auto;
  width: 69%;
  height: 100px;
}

/* Transaction history Line chart */

.chart-container {
  width: 600px;
  height: 300px;
}




/* Transaction history table */

.data-container {
  text-align: center;
  margin-top: 80px;
}

.data-table {
  margin: auto;
  width: 1016px;
  height: 300px;
  overflow: hidden;
  padding: 10px;
  text-align: center;
}

.data-table-history {
  margin: 30px;
  width: 1016px;
  height: 300px;
  padding: 10px;
}

.view-btn {
  margin-top: 50px;
}

.view-all-btn:hover {
  background: #fff;
  color: #000;
  border: 2px solid orange;
}



/* footer style */

.footer-content {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 10px;
  margin-top: 50px;
  
  
  
  

}

.f-logo {
  width: 200px;
  height: 50;
}


.f-text {
  padding: 20px;
  width: 300px;
  
}

.social a {
  margin: 5px;
}

@media screen and (max-width: 1200px) {
  .container {
    grid-template-columns: 10% 50% auto;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 768px) {
  .AppGlass {
    grid-template-columns: 1fr;
  }

  .footer-content {
    flex-direction: column;
  }

  .chart-container {
    width: 350px;
    height: 300px;
    margin-left: 50px;
  }


 

}

.desktop-table {
  margin-left: 200px;
}



.footer-custome {
  margin-top: 200px;
  margin-left: 50px;
}


.home-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.routes {
  position: absolute;
  margin: 0;
  z-index: -1;
}

.logo {
  height: 30px;
  width: 150px;
}

.display-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0px;
  
}

.display-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 150px;
  border: 2px orange solid;
  margin-top: 20px;
  margin-left: 2.0rem;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
}

/* .display-box-text {
}

.display-box-value {
} */

.display-box-chart {
  text-align: center;
  width: 5rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

td {
  white-space: normal !important;
  word-wrap: break-word;
}
table {
  table-layout: fixed;
}
