/* sidebar style --------------------------------------*/

*{
    margin:0;
    padding:0;
    text-decoration: none;
    
}

html {
    font-family: "Montserrat", sans-serif;
  }

body {
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/mirrored-squares.png");
    


}



h3 {
   
    color: orange;
    padding: 10px;
    margin: 20px;
    border-bottom: #FFA500 solid 2px;
    font-family: "McLaren", cursive;
    font-weight: 200;
    font-size: x-large;
   
}


.container{
    display:flex;
}
main{
    width: 100%;
    padding: 20px;
}
.sidebar{
    background: #1D180B;
    color: #fff;
    height: 230vh;
    width: 200px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    height: 30px;
    width: 100px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    border-bottom: 5px solid  #FFA500;
    color: #ffff;
    transition: all 0.5s;
}
.active{
    border-bottom: 5px solid #FFA500;
    color: #FFA500;
}
.icon, .link_text{
    font-size: 18px;
}

.icon {
    color: #FFA500;
}



.token_price {
    margin: 30px;
}




/* Dashboard style --------------------------------------------------------------- start*/




.price-box {
    width: 200px;
    height: 150px;
    border: 2px orange solid;
    margin: 8px;
    border-radius: 10px;
    padding: 20px;
    
}

.reward-box {

    border: 2px orange solid;
    width: 400px;
    height: 200px;
    border-radius: 20px;

}

.price {
    
    margin-top: 30px;
}

.center {
    justify-content: center;
    
}


.chart-container {
    width: 150px;
    height: 120px;
    padding: 5px;
    margin-left: 20px;
       
}


/* Transaction history table */

.data-container {
   text-align: center;
   margin-top: 80px;
   
    
    
}

.data-table {

    margin: auto;
    width: 1016px;
    height: 300px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    
}

.data-table-history{
    margin: 30px;
    width: 1016px;
    height: 300px;
    padding: 10px;
}



.view-all-btn {
    padding: 5px;
    background: #FFA500;
    color:#fff;
    border: #FFA500 1px solid;
    /* margin-left: 40px; */
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 30px;
    position: absolute;
    
}

.view-all-btn:hover {
    background: #fff;
    color: #000;
    border: 2px solid orange;
}














